.no-bullets {
    list-style-type: none;
}

.navbar {
    background-color: #C3CFB8;
    font-family: 'krub', sans-serif;
}
.navbar nav {
    background-color: #C3CFB8 !important; 
}
.jumbotron {
    background-color:#C3CFB8 !important; 
    margin-bottom: 50px ; 
    font-family: 'Rubik', sans-serif;
}
.information {
    background-color: #C3CFB8;
    padding: 20px;
    margin-top: -100px;
    font-family: 'Rubik', sans-serif;
}

.row {
    margin-bottom: 20px;
}
.col-md-4 {
    padding: 10px; 
  }